/* Universal Styles */

html{
    font-size: 16px;
  }
  
  body {
    background-color: rgb(177, 179, 150);
  }
  
  
  /* Banner Section */
  
  #banner {
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/281/415/non_2x/camel-and-people-silhouete-background-islamic-illustration-wallpaper-eid-al-adha-holiday-beautiful-sunlight-landscape-palm-tree-sand-desert-graphic-vector.jpg');
    background-position: center;
    height: 24rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.85;
  
    
    
  }
  
  #banner h1 {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 3.75rem;
  }
  
  /* Blog Post */
  
  #blog {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
  }
  
  #blog .post {
    margin-bottom: 7.5%;
    margin-top: 12.5%;
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    color: #444444;
  }
  
  .post h2 {
    font-size: 1.875rem;
    
  }
  
  .post h3 {
    font-size: 1.125rem;
    color: #757575;
  }
  
  .post .opening-line {
    margin-top: 4.1875rem;
    margin-bottom: 1.5rem;
    color: black;
    font-weight: bold;
  }
  
  .post .image-container {
    width: 100%;
  }
  
  p{
    min-width: 200px;
    min-height: 200px;
  }
  /* Blog Images */
  
  .images {
    margin-bottom: 20%;
  }
  
  .images .image-container {
    display: inline-block;
    width: 50%;
    
  }
  
  .image-container{
    overflow: hidden;
  }
  
  .image-container img{
    max-width: 100%;
    height:auto;
    min-height: px;
    display: inline-block;
    justify-content: space-between;
  }
  
  /* Footer */
  
  footer {
    padding: 4rem 0;
    border-top: 1px solid #00000057;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #1414144f;
    text-align: center;
  }
